<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/products/new" method="POST">
    <section>
      <label for="name">name</label>
      <input type="text" name="name" id="name" placeholder="enter name">
    </section>
    <section>
      <label for="price">price</label>
      <input type="text" name="price" id="price" placeholder="enter pricr">
    </section>
    <section>
      <label for="category">category</label>
      <select name="category" id="category">
        <option value="fruit">fruit</option>
        <option value="vagetable">vagetable</option>
        <option value="meat">meat</option>
      </select>
    </section>
    <section>
      <button type="submit">submit</button>
    </section>
    <a href="/products">home</a>

  </form>
</body>

</html>