<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2>show product</h2>
  <li>
    this name : <%=showProduct.name%>
  </li>
  <li>
    this price : <%=showProduct.price%>
  </li>
  <li>
    this category : <%=showProduct.category%>
  </li>

  <a href="/products">home</a>
</body>

</html>